<div class="jumbotron" *ngIf="!isParamSaved">
  <h1>Симплекс метод</h1>
  <h3>Інструкція</h3>
  <p>Оберіть кількість змінних та кількість рядків (кількість обмежень). Обмеження виду x
    <sub>i</sub> ≥ 0 не враховуйте.</p>
  <div class="input-symplex-form">
    <form (ngSubmit)="onSubmit()" [formGroup]="symplexParamForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Кількість змінних" formControlName="varNumber" type="number" required>
        <mat-error *ngIf="symplexParamForm.get('varNumber').hasError('max') && !symplexParamForm.get('varNumber').hasError('required')">
          Будь ласка, введіть кількість меньше 8
        </mat-error>
        <mat-error *ngIf="symplexParamForm.get('varNumber').hasError('required')">
          Кількість змінних вводити
          <strong>обов'яково</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Кількість обмежень" formControlName="rowNumber" type="number" required>
        <mat-error *ngIf="symplexParamForm.get('rowNumber').hasError('max') && !symplexParamForm.get('rowNumber').hasError('required')">
          Будь ласка, введіть кількість меньше 16
        </mat-error>
        <mat-error *ngIf="symplexParamForm.get('rowNumber').hasError('required')">
          Кількість обмежень вводити
          <strong>обов'яково</strong>
        </mat-error>
      </mat-form-field>
      <button type="submit" class="btn btn-success" [disabled]="!symplexParamForm.valid">Submit</button>
    </form>
  </div>
</div>

<div class="jumbotron" *ngIf="isParamSaved">
  <h1>Симплекс метод</h1>
  <div>
    <table class="symplex-function-table">
      <caption>Функція цілі</caption>
      <tr>
        <th *ngFor="let item of optimFunction; let id = index">x
          <sub>{{id+1}}</sub>
        </th>
        <th>-></th>
        <th>Min/max</th>
      </tr>
      <tr>
        <td *ngFor="let item of optimFunction; let id = index">
          <input [(ngModel)]="optimFunction[id]">
        </td>
        <th>-></th>
        <td>
          <select [(ngModel)]="isMax">
            <option value="true" selected>max</option>
            <option value="false">min</option>
          </select>
        </td>
      </tr>
    </table>
    <table class="symplex-function-table">
      <caption>Обмеження</caption>
      <tr>
        <th *ngFor="let item of optimFunction; index as id">x
          <sub>{{id+1}}</sub>
        </th>
        <th></th>
        <th>b</th>
      </tr>
      <tr *ngFor="let item of table; index as i">
        <td *ngFor="let cell of table[i]; index as j">
          <input type="number" [(ngModel)]="table[i][j]">
        </td>
        <td>
          <select [(ngModel)]="sign[i]">
            <option value="0" selected>≤</option>
            <option value="1">≥</option>
            <option value="2">=</option>
          </select>
        </td>
        <td>
            <input type="number" [(ngModel)]="b[i]">
        </td>
      </tr>
    </table>
    <button class="btn btn-success" (click)="validate()">Знайти рішення</button>
  </div>
</div>