.navbar.navbar-default {
  color: #fff;
  font-family: 'Playfair Display', serif;
  background-color: #1A237E;
}

a.navbar-brand {
  color: #fff;
  font-size: 35px;
  margin: 15px 0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 18px;
  margin: 15px 0;
}