/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin:0;
}

.btn-primary {
    background-color: #022bd1;
}


.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
}

.max-option .mat-form-field-infix {
    width: 70px;
}

div.mat-form-field-infix.mat-input-infix {
    border-top-width: 0px;
}

