<div class="jumbotron">
  <h1>Методи оптимізації</h1>
  <div class="methods-box">
      <a routerLink="/symplex-method" class="btn-primary btn ">Симплекс метод</a>
      <a routerLink="#" class="btn-primary btn">Транспортна задача</a>
      <a routerLink="#" class="btn-primary btn">Знаходження критичного шляху</a>
  </div>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, nam. Harum laudantium labore quas porro doloremque eveniet omnis iste! Quas repellendus asperiores dicta ipsa ea sint quos sit expedita tenetur!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur qui vitae voluptas officia alias, autem doloremque blanditiis sapiente magnam nam id, eveniet quidem voluptatem labore, deserunt maiores facere reprehenderit reiciendis.</p>